<%=render 'index/navbar' %>
<p style="color: green"><%= notice %></p>
<br/>
<div class="home-heading">
<h1>API Keys</h1>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col" class="col-2">ID</th>
      <th scope="col" class="col-6">API Key</th>
      <th scope="col" class="col-4"></th>
    </tr>
  </thead>
  <tbody>
  <%k=1%>
    <% @api_keys.each do |a| %>
    <% if a.user_id==current_user.id%>
      <tr>
        <td><%= k%></td>
        <td><%= a.api_key %></td>
        <td><%= link_to "Show this api key", api_key_path(a) %></td>
      </tr>
      <%k+=1%>
    <% end %>
    <% end %>
  </tbody>
</table>
